<div class="row">
  <div class="side">
    <h2>About</h2>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    
    <br>

    <h2>ABOUT/CONTACT</h2>
    
   <br>
   <a href="{{ site.url }}/about.html">
      <div class="card">
          <a href="{{ site.url }}/about.html">
            <img src="{{ site.url }}/img/Atena.jpg" alt="Atena" class= "responsive" width="400" height="400">
          </a>
          <div class="card.desc">
             <h2>Atena</h2>
             <h4> clasa a XII-a A </h4>
             <h4> Colegiul National Decebal</h4>
             <ul> 
               <li><a href="#" class="fa fa-facebook"></a></li>
               <li><a href="#" class="fa fa-twitter"></a></li>
             </ul>
         </div>
      </div>
    </a>
    <br>
     <div class="card">     
        <a href="{{ site.url }}/about.html">         
           <img src="{{ site.url }}/img/Bogdan.jpg" class= "responsive" width="400" height="400">
        </a>
        <div class="card.desc">
             <h2>Bogdan</h2>
             <h4> clasa a XII-a A </h4>
             <h4> Colegiul National Decebal</h4>
             <ul> 
               <li><a href="#" class="fa fa-facebook"></a></li>
               <li><a href="#" class="fa fa-twitter"></a></li>
             </ul>
        </div>
    </div> 
    <br>
  
     <br>
    <div class="card">
      <h2>Ultimele postari:</h2>

      <ul class="posts">
           {% for post in site.posts limit:10 %}
                <li>
                   <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                   <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
           {% endfor %}
       </ul>
     </div>
      <br>
</div> 
  
  <div class="main">

    <h2>Archives</h2>
  <h1>all posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
    
    <br>
<h1>by category Work</h1>

   <ul class="posts">
    {% for post in site.categories.Work %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
   </ul>

<h1>by category Photo</h1>
<ul class="posts">
    {% for post in site.categories.Photo %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
   </ul>
     <h1>by category autor Atena</h1>
     {% for post in site.categories.Atena %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</ul>
     <h1>by category autor Bogdan</h1>
     {% for post in site.categories.Bogdan %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
